@model CareeriaDevsApp.Viesti

@{
    ViewBag.Title = "Poista viesti";
}

<div class="container">
    <div class="row">
        <div class="col">

            <div class="alert alert-danger text-center" role="alert">
                Oletko varma että haluat poistaa tämän viestin?
            </div>

            <div class="row">
                <div class="col text-center">

                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-actions">
                                <input type="submit" value="Poista viesti" class="btn btn-danger" />
                                @Html.ActionLink("Takaisin", "Index", null, new { @class = "btn btn-light" })
                            </div>
                        }

                </div>
            </div>

        </div>
    </div>
</div>