@{
    ViewBag.Title = "Home Page";
}

<!-- ETUSIVUN SISÄLTÖ ALKAA -->
<!-- Students -->
<section id="students">
    <div class="container">
        <div class="row">
            <div class="students-col col d-flex flex-column justify-content-center align-items-center">
                <h1>Työnhakija</h1>
                <span>— Tee profiili ja tule löydetyksi</span>
                <p>
                    Rekisteröidy työnhakijaksi
                    @*<button type="button" class="btn btn-yellow">Tästä</button>*@
                    <input type="button" class="btn btn-yellow" value="Tästä" onclick='window.location.href = "@Url.Action("OppilasRekisterointi", "Logins", routeValues: null)"'/>
                </p>
            </div>
            <div class="col d-flex align-items-center">
                <p>
                    Opiskelija – Rekisteröityneenä käyttäjänä voit luoda osaajaprofiilin, jonka työnantajayritys näkee Careeria JobApp sivustolla. Tämä edesauttaa mahdollisuuksiasi työelämään siirtymisessä. Sivuston avulla löydät monia mielenkiintoisia työpaikkoja ja se tarjoaa sinulle väylän ottaa ensikontakti työnantajaan.
                </p>
            </div>
        </div>
    </div>
</section>

<!-- Empolyers -->
<section id="employers">
    <div class="container">
        <div class="row">
            <div class="students-col col d-flex flex-column justify-content-center align-items-center">
                <h1>Työnantajat</h1>
                <span>— Työllistä opiskelija yritykseesi</span>
                <p>
                    Rekisteröidy työnantajaksi
                    @*<button type="button" class="btn btn-yellow">Tästä</button>*@
                    <input type="button" class="btn btn-yellow" value="Tästä" onclick='window.location.href = "@Url.Action("YritysRekisterointi", "Logins", routeValues: null)"' />
                </p>
            </div>
            <div class="students-col col d-flex flex-column justify-content-center align-items-center">
                <p>
                    Työnantaja – Rekisteröityneenä työnantajana saat yhteyden työnhakijaan, jonka osaaminen voi täydentää yrityksesi työllistämistarvetta. Rekisteröityneenä käyttäjänä voit myös lisätä työtarjouksia ja antaa tietoja yrityksestäsi.
                </p>
            </div>
        </div>
    </div>
</section>

<!-- Intro -->
<section id="intro">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h2>Careeria JobApp Pähkinänkuoressa</h2>
            </div>
        </div>
        <div class="row justify-content-center align-items-center">
            <div class="col">
                <img src="/Content/Images/vapaapaikka.png" height="400" class="img-fluid" />
            </div>
            <div class="col pt-5">
                <p>
                    Tervetuloa Careeria -oppilaitoksen ohjelmoinnin osaajien
                    työnhakusivustolle.<br />

                    Sivusto esittelee oppilaitoksen opiskelijoiden osaajaprofiileita.
                    Sivusto on työkalu, jonka avulla työnantaja ja tulevaisuuden
                    työntekijä löytävät toisensa.<br />

                    Sivusto on toteutettu kouluprojektina ohjelmoinnin opiskelijoiden
                    toimesta.
                </p>
            </div>
        </div>
    </div>
</section>

<!-- Testimonials -->
<section id="testimonials">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-4">
                <img src="/Content/Images/avatar.jpg"
                     height="150"
                     class="testimonials-avatar" />
                <p>Herra X</p>
            </div>
            <div class="col-6">
                <p>
                    — Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
                    faucibus nulla in efficitur egestas. In semper et orci in auctor.
                    Nulla facilisi. Sed sodales massa vitae dui sagittis, ac
                    ullamcorper orci vehicula. Pellentesque tincidunt tellus lobortis
                    consectetur maximus. Sed consequat sit amet neque in sagittis.
                    Cras imperdiet libero sed lorem maximus dapibus. Integer vulputate
                    urna vel cursus imperdiet.
                </p>
            </div>
        </div>
    </div>
</section>

<!-- Chapters -->
<section id="chapters">
    <div class="container">
        <div class="row">
            <div class="col text-center mb-5">
                <h3>Työnantajan rekrytoinnin vaiheet:</h3>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <ul class="list-group list-group-horizontal vaihelista">
                    <li class="list-group-item d-flex justify-content-between align-items-center">Rekisteröidy työnantajaksi<span class="badge badge-primary badge-pill"> 1</span></li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">Täydennä profiili<span class="badge badge-primary badge-pill">2</span></li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">Selaa opiskelijoita<span class="badge badge-primary badge-pill">3</span></li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">Ota kuppi kahvia..<span class="badge badge-primary badge-pill">4</span></li>
                    <li class="list-group-item d-flex justify-content-between align-items-center"> ..ja tarjoa työtä<span class="badge badge-primary badge-pill">5</span></li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- Employers REG -->
<section id="employers-reg">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h3>
                    Rekisteröidy työnantajaksi
                    <input type="button" class="btn btn-outline-light" value="TÄSTÄ!" onclick='window.location.href = "@Url.Action("YritysRekisterointi", "Logins", routeValues: null)"' />
                </h3>
            </div>
        </div>
    </div>
</section>

<!-- Students REG -->
<section id="students-reg">
    <div class="container">
        <div class="row">
            <div class="col students-reg-content">
                <h3>Työpaikkaa vailla?</h3>
                <p>
                    Hyppää mukaan ja tule löydetyksi!
                </p>
                <button type="button" class="btn btn-yellow">Lue lisää</button>
            </div>
        </div>
    </div>
</section>

<!-- Sponsors -->
<section id="sponsors">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <p>
                    Mukana menossa: 
                    <img src="/Content/Images/careeria-logo.png" class="ml-2 mr-2"/>
                    <img src="/Content/Images/ohjelmistoyrittajat-logo.png" />
                </p>
            </div>
        </div>
    </div>
</section>

<!-- Footer -->
<section id="footer">
    <div class="container">
        <div class="row">
            <div class="col text-center mb-5">
                <h2>Careeria JobApp</h2>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h5>Yhteystiedot</h5>
                <ul>
                    <li>
                        Hevosenkengänkatu 2
                    <br>
                        06100 Porvoo
                    </li>
                    <li>info@jobapp.com</li>
                    <li>+358401231234</li>
                </ul>
            </div>
            <div class="col">
            </div>
            <div class="col">
                <h5>Sosiaalinen Media</h5>
                <ul>
                    <li>Facebook</li>
                    <li>Twitter</li>
                    <li>Instagram</li>
                    <li>Linkedin</li>
                </ul>
            </div>
            <div class="col">
                <h5>Ota yhteyttä!</h5>
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Nimi" />
                    </div>
                    <div class="form-group">
                        <input type="email"
                               class="form-control"
                               placeholder="Sähköpostiosoite" />
                    </div>
                    <div class="form-group">
                        <textarea class="form-control"
                                  rows="2"
                                  placeholder="Viesti"></textarea>
                    </div>
                    <button type="submit" class="btn btn-yellow">Lähetä</button>
                </form>
            </div>
        </div>
    </div>
</section>