/* main */
a {
    color: dimgrey;
}

.linkit {
    max-height: 110px;
}

    .linkit a {
        display: block;
        margin: 10px;
    }

.profiili-kuva {
    border-radius: 100%;
}

.profiili-kuva-small {
    max-height: 200px;
    max-width: 200px;
}

.muokkaa-yrityksesi {
    position: absolute;
    right: 0;
    background: #fff3cd;
    max-width: 250px;
    padding: 10px 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-bottom: 20px;
}

/* nav */
.navbar {
    min-height: 100px;
}

.dropdown-item {
    cursor: pointer;
}

    .dropdown-item:active {
        cursor: pointer;
        background-color: #dfbe71;
    }

/* login */
.form-check {
    padding: 0;
}

.login-form {
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
    padding: 30px;
    margin: 100px auto;
}

.login-h {
    border-bottom: 1px dashed rgba(0,0,0,0.2);
}

.bg-yellow {
    background: #fff3cd;
}

.btn-notsodanger {
    background: hsla(359,98%,68%,0.8);
    color: #fff;
}

    .btn-notsodanger:hover {
        background: hsla(359,98%,68%,1);
        color: #fff;
    }

#students {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../Content/Images/tyonhakijoille.jpg') center center;
    opacity: 1;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 500px;
    color: #fff;
}

.students-col {
    min-height: 500px;
}

#employers {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../Content/Images/tyonantajille.jpg') center center;
    opacity: 1;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 500px;
    color: #fff;
}

#intro {
    margin: 100px;
    color: #4b4b4b;
}

#testimonials {
    padding: 100px;
    background: #d7be71;
    color: #fff;
}

.testimonials-avatar {
    border-radius: 100%;
    margin-bottom: 20px;
}

#chapters {
    margin: 100px;
}

.badge-primary {
    color: #fff;
    background-color: #d7be71;
}

.badge-pill {
    padding: 1.2em;
    border-radius: 100px;
    position: absolute;
    top: -30px;
    left: 120px;
}

.vaihelista li {
    border: none;
    background: transparent;
    margin: 0 auto;
}

#employers-reg {
    padding: 100px;
    background: #d7be71;
    color: #fff;
}

#students-reg {
    margin: 100px;
    color: #4b4b4b;
    background: url('../Content/Images/footerbg.png') center center;
    background-size: 800px 534px;
    background-repeat: no-repeat;
    min-height: 500px;
}

    #students-reg .students-reg-content {
        margin-left: 150px;
    }

#sponsors {
    margin: 100px;
    color: #4b4b4b;
}

    #sponsors p {
        font-weight: bold;
        font-size: 1.2rem;
    }

#footer {
    margin: 100px;
    color: #4b4b4b;
}

    #footer ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

.btn-outline-yellow {
    color: #dfbe71;
    border-color: #dfbe71;
}

    .btn-outline-yellow:hover {
        color: #d7af4d;
        border-color: #dfbe71;
    }

.btn-yellow {
    color: #fff;
    background-color: #dfbe71;
}

    .btn-yellow:hover {
        color: #fff;
        background-color: #d7af4d;
    }

/*SignalR*/

.users-list {
    background-color: lightgray;
}

.user-box {
    display: flex;
    justify-content: space-between;
    background-color: white;
    margin: 1px;
    padding: 1px 5px;
}

    .user-box:hover {
        cursor: pointer;
    }

    .user-box i {
        color: lawngreen;
        margin: 10px;
    }

.chat-container {
    display: flex;
    justify-content: flex-start;
    overflow-x: auto;
}

.chat-box {
    width: 250px;
    min-width: 250px;
    border: 1px solid;
    margin: 15px;
}

.chat-box-header {
    display: flex;
    justify-content: space-between;
    background-color: deepskyblue;
    padding: 5px 15px;
}

.fa-times:hover {
    cursor: pointer;
    font-size: 18px;
}

.messages-list {
    padding: 25px;
    height: 350px;
    max-height: 350px;
    overflow: auto;
}

.dvmsg {
    padding: 1.5px;
}

.dvmsg-from {
    display: flex;
    justify-content: flex-start;
}

    .dvmsg-from .msg {
        background-color: cornflowerblue;
        color: white;
    }

.dvmsg-to {
    display: flex;
    justify-content: flex-end;
}

    .dvmsg-to .msg {
        background-color: orange;
        color: black;
    }

.msg {
    padding: 8px;
    width: auto;
    border-radius: 20px;
}

.chat-box-input {
    padding: 15px;
}

.message-input {
    height: 60px;
    min-height: 60px;
    max-height: 60px;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
}